<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router'
import { v4 as uuidv4 } from 'uuid'

import { useSpecificationStore } from '@/stores/specification'
import type { PropertyCreate, Specification } from '@/interfaces/specification'
import NewConfigurationModal from './NewConfigurationModal.vue'
const store = useSpecificationStore()
const router = useRouter()
let propertiesToRender = ref<PropertyCreate[]>([]);
let name: string = '';
let showModal = ref<boolean>(false);

onMounted(() => {
  propertiesToRender.value = store.properties;
});

function goBack(): void {
  router.push('/')
}

// save new specification
function saveSpecification(): void {
  if (!name) {
    console.log('WRONG NAME')
    return
  }

  if (propertiesToRender.value.some(item => !item.value && item.value !== false)) {
    console.log('WRONG PROPERTY')
    return
  }

  // id should be definitely generated on server
  let specification: Specification = {
    id: uuidv4(),
    name,
    properties: propertiesToRender.value.map(property => {
      return {
        title: property.title,
        value: property.value
      }
    })
  }

  store.addNewSpecification(specification)
  store.purgeProperties()
  goBack()
}

function openModal() {
  showModal.value = true;
}

function closeModal() {
  showModal.value = false;
}
</script>

<template>
  <div class="wrapper">
    <div class="button" @click="goBack()">Back</div>
    <div class="form">
      <div class="row">
        <div>Name of specification</div>
        <input type="text" v-model="name">
      </div>
      <div class="row" v-for="property in propertiesToRender" :key="property.title">
        <template v-if="property.type === 'string'">
          <div>{{property.title}}</div>
          <input type="text" v-model="property.value">
        </template>
        <template v-if="property.type === 'select'">
          <select v-model="property.value">
            <option value="" selected>{{property.title}}</option>
            <option v-for="option in property.options" :value="option" :key="option">{{option}}</option>
          </select>
        </template>
        <template v-if="property.type === 'boolean'">
          <label>
            <input type="checkbox" v-model="property.value"> {{ property.title }}
          </label>
        </template>
      </div>
      <div class="buttons-wrapper">
        <div class="button" @click="openModal()">+ new configuration option</div>
        <div class="button" @click="saveSpecification()">Save</div>
      </div>
    </div>


    <transition name="modal" mode="out-in">
      <NewConfigurationModal v-if="showModal" @close="closeModal()"></NewConfigurationModal>
    </transition>
  </div>
</template>

<style scoped>
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.button {
  width: fit-content;
  padding: 4px 12px;
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border);
  user-select: none;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.form {
  width: 320px;
  margin: 0 auto;
}

.row {
  padding: 8px 0;
}

.buttons-wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
}

select {
  width: 100%;
  padding: 8px 12px;
}
</style>
