<template>
  <div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">

        <div class="modal-header">
          <slot name="header">
            Add new configuration
          </slot>
        </div>

        <div class="modal-body">
          <slot name="body">
            <div class="config-type">
              <div>
                <input type="radio" id="string" value="string" v-model="configurationType" />
                <label for="string">Text</label>
              </div>

              <div>
                <input type="radio" id="boolean" value="boolean" v-model="configurationType" />
                <label for="boolean">Checkbox</label>
              </div>

              <div>
                <input type="radio" id="select" value="select" v-model="configurationType" />
                <label for="select">Select</label>
              </div>
            </div>

            <div class="config-options">
              <div class="configuration-title">Configuration Title</div>
              <input type="text" v-model="configurationTitle" />

              <div v-if="configurationType === 'select'" class="options">
                Configuration options
                <div v-for="(option, index) in configurationOptions" class="row" :key="index">
                  <div>{{option}}</div>
                  <div class="modal-button cancel" @click="removeOption(index)">remove</div>
                </div>

                <div class="row">
                  <input type="text" v-model="newOption"/>
                  <div class="modal-button add-option" @click="addOption()">+ Add option</div>
                </div>
              </div>
            </div>
          </slot>
        </div>

        <div class="modal-footer">
          <slot name="footer">
            <div class="modal-button cancel" @click="$emit('close')">
              Cancel
            </div>
            <div class="modal-button" @click="addConfiguration()">
              Add
            </div>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useSpecificationStore } from '@/stores/specification'

const emit = defineEmits(['close'])
const store = useSpecificationStore()
let configurationType: string = ref('string')
let configurationTitle: string = ref('')
let configurationOptions: string[] = ref([])
let newOption: string = ref('')

// add new configuration that can be used in any specification
function addConfiguration() {
  if (!configurationTitle.value) return
  if (configurationType.value === 'select' && configurationOptions.value.length < 1) return
  store.addConfiguration({
    title: configurationTitle.value,
    type: configurationType.value,
    options: configurationOptions.value
  })
  emit('close')
}

function addOption() {
  if (!newOption.value) return;
  configurationOptions.value.push(newOption.value)
  newOption.value = '';
}

function removeOption(index) {
  configurationOptions.value.splice(index, 1)
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: aliceblue;
  color: #123;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  grid-gap: 20px;
}

.modal-button {
  padding: 4px 12px;
  cursor: pointer;
  user-select: none;
  background: var(--wp-green);
  color: aliceblue;
  transition: all .2s ease-in-out;
}

.modal-button.cancel {
  background: var(--wp-red);
}

.modal-button:active {
  position: relative;
  top: 1px;
}

.add-option {
  width: fit-content;
  margin-top: 4px;
}

.config-type {
  display: flex;
  grid-gap: 12px;
}

label {
  margin-left: 4px;
}

.config-options {
  margin-top: 16px;
}

.options {
  margin: 16px 0;
}

.options .row {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  grid-gap: 20px;
}

.row input[type="text"] {
  max-width: 300px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
}

.modal-enter-from, .modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
