<script setup lang="ts">
import { ref } from 'vue';
import { useSpecificationStore } from '@/stores/specification'
import { storeToRefs } from 'pinia'
import { useRouter } from 'vue-router'

const store = useSpecificationStore()
const router = useRouter()
const { specifications } = storeToRefs(store)
const panels = ref({})

function openSpecification(id): void {
  if (!Object.keys(panels.value).includes(id)) {
    panels.value[id] = true
  } else {
    panels.value[id] = !panels.value[id]
  }
}

function makeNewSpecification(): void {
  router.push('/new')
}

function parseValue(value): string {
  if (typeof value === 'boolean') {
    return value ? 'yes' : 'no'
  }

  return value
}
</script>

<template>
  <div class="wrapper">
    <div class="specification-panel" :class="{opened: panels[specification.id]}" v-for="specification in specifications" :key="specification.id">
      <div class="title" @click="openSpecification(specification.id)">{{specification.name}}</div>
      <div class="info">
        <div v-for="property in specification.properties" :key="property.title">
          {{property.title}} - {{parseValue(property.value)}}
        </div>
      </div>
    </div>

    <div class="button" @click="makeNewSpecification()">+ Make new specification</div>
  </div>
</template>

<style scoped>
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 16px;
}

.specification-panel {
  width: 320px;
  max-height: 34px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.title {
  text-align: center;
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border);
  padding: 4px 12px;
}

.title:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.info {
  text-align: center;
  background-color: var(--color-text);
  color: var(--color-background-soft);
  padding: 8px 12px;
}

.specification-panel.opened {
  max-height: 50vh;
}

.button {
  background-color: var(--wp-blue);
  padding: 4px 12px;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease-in-out;
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  position: relative;
  top: 1px;
}
</style>
